<div>
  <div>
    <h1>
      List of all saved items
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new saved item
    </h2>

    <form action="/insert_saved_item" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id">
      </div>

      <button>
        Create saved item
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Item
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_saved_items.each do |a_saved_item| %>
      <tr>
        <td>
          <%= a_saved_item.id %>
        </td>

        <td>
          <%= a_saved_item.user_id %>
        </td>

        <td>
          <%= a_saved_item.item_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_saved_item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_saved_item.updated_at) %> ago
        </td>

        <td>
          <a href="/saved_items/<%= a_saved_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
