<div>
  <div>
    <h1>
      Comment #<%= @the_comment.id %> details
    </h1>

    <div>
      <div>
        <a href="/comments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_comment/<%= @the_comment.id %>">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Comments
      </dt>
      <dd>
        <%= @the_comment.comments %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_comment.user_id %>
      </dd>

      <dt>
        Item
      </dt>
      <dd>
        <%= @the_comment.item_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >
      <div>
        <label for="comments_box">
          Comments
        </label>

        <input type="text" id="comments_box" name="query_comments" value="<%= @the_comment.comments %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_comment.user_id %>">
      </div>

      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id" value="<%= @the_comment.item_id %>">
      </div>

      <button>
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
