<div>
  <div>
    <h1>
      Item #<%= @the_item.id %> details
    </h1>

    <div>
      <div>
        <a href="/items">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_item/<%= @the_item.id %>">
          Delete item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_item.user_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_item.description %>
      </dd>

      <dt>
        Quantity
      </dt>
      <dd>
        <%= @the_item.quantity %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_item.image %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_item.price %>
      </dd>

      <dt>
        Item name
      </dt>
      <dd>
        <%= @the_item.item_name %>
      </dd>

      <dt>
        Available
      </dt>
      <dd>
        <%= @the_item.available %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit item
    </h2>

    <form action="/modify_item/<%= @the_item.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_item.user_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_item.description %>">
      </div>

      <div>
        <label for="quantity_box">
          Quantity
        </label>

        <input type="text" id="quantity_box" name="query_quantity" value="<%= @the_item.quantity %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value ="<%= @the_item.image %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_item.price %>">
      </div>

      <div>
        <label for="item_name_box">
          Item name
        </label>

        <input type="text" id="item_name_box" name="query_item_name" value="<%= @the_item.item_name %>">
      </div>

      <div>
        <input type="checkbox" id="available_box" name="query_available" value="1" <%= "checked" if @the_item.available %>>

        <label for="available_box">
            Available
        </label>
      </div>

      <button>
        Update item
      </button>
    </form>
  </div>
</div>

<hr>






  

<div>
  <div>
    <h1>
      List of all comments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment" method="post">
      <div>
        <label for="comments_box">
          Comments
        </label>

        <input type="text" id="comments_box" name="query_comments">
      </div>

      <div>
        <label for="user_name_box">
          User Name
        </label>

        <input type="text" id="user_name_box" name="query_user_name">
      </div>

      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id">
      </div>

      <button>
        Create comment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Comments
        </th>

        <th>
          User
        </th>

        <th>
          Item
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @the_item.comments.each do |a_comment| %>
      <tr>
        <td>
          <%= a_comment.id %>
        </td>

        <td>
          <%= a_comment.comments %>
        </td>

        <td>
          <%= a_comment.user_id %>
        </td>

        <td>
          <%= a_comment.item_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/comments/<%= a_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
